footer {
  background-color: gray;
  height: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  footer p {
    letter-spacing: 0.1rem; }
  footer ul li {
    list-style: none; }
    footer ul li a {
      color: white;
      text-decoration: none;
      padding: 0.2rem; }
